body {
    font-family: 'Raleway', sans-serif;
}

h1{
    text-align: center;
    font-family: 'Martel', serif;
}
#login {
    max-width: 500px;
    margin-top: 5%;
}
.form-input {
    max-width: 500px;
}
.company-image {
    background-color: #789395;
    width: auto;
    max-width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-top: 4%;
    padding-top: 7%;
    margin-bottom: 10%;
}

.navbar {
    background-color: #98B4AA;
    color: #495371;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #495371 !important;
}

.btn-primary:hover {
    background-color: #395B64;
}

.container {
    text-align: center !important;
}
