/* Modal (Background)*/
.modal {
    display: none; /* Hidden until activated*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 75%;
    height: auto;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.4); /* Black with opacity*/
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 12% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.receipt-image {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    margin-left: auto;
    font-size: 28px;
    font-weight: bold;
    font-size: 40px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

tr:hover {
    background-color: #D1D1D1;
}

